.caixa-jogadores {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 23%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Desativa a barra de rolagem horizontal */
    padding-left: 0.5%;
    padding-right: 0.5%;
    align-content: center;
}

.top-jogadores {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: static;
}

.item-jogadores {
    background-color: rgb(31, 25, 25);
    color: white;
    font-family:'Courier New', Courier, monospace;
}